@tailwind base;
@tailwind components;
@tailwind utilities;


button{
    background: white;
    border: 1px solid #888;
    color: #888;
    border-radius: 8px;
}
button:hover{
    border-color: #f00;
    color: #f00;
}