@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion-icon.open {
  transform: rotate(90deg);
}

.accordion-icon {
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 8px;
  pointer-events: none;
  transform: translateY(-2px) rotate(45deg);
  width: 8px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}
.accordion-content.open {
  max-height: 200px; /* large enough to fit content */
}

body {
  font-family: sans-serif;
}

button.active{
  border:1px solid red;
}