@import "tailwindcss";


@theme {
    --animate-fade: fade 0.5s;
    @keyframes fade {
        from {
            opacity: 0.4;
        }
        to{
            opacity: 1;
        }
    }
}

.fade-box {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}